<!DOCTYPE html>
<head>
    <style>
        .rcorners {
        border-radius: 25px;
        margin: auto;
        background: #73AD21;
        margin-top: 10px;
        padding: 20px; 
        width: 1000px;
        height: 200px; 
    }


    h1{
        text-align: center;
    }
    </style>
</head>
<body>
<div class="rcorners">
    <h1>Upload new product</h1>
    <form name="addproform" action="insertprod.php" method="post">
        Title: <input name="name" type="text" placeholder="Enter title">
        Description: <input name="description" type="text" placeholder="Enter description">
       <!--  image:  <input type="text" placeholder="Upload image"> -->
            <input type="file" name="fileToUpload" id="fileToUpload">
        <!-- <input type="submit" value="Upload Image" name="submit"> --> 
        Units:  <input type="text" placeholder="Insert price">
        Gender:  <select name="Gender"><option value="M">Male </option><option value="F">Female </option></select>
<input type="submit" value="Upload Image" name="submit">
        </form>
</div>
<div class="rcorners">
    <h1>Change a product</h1>
</div>
<div class="rcorners">
    <h1>Remove a product</h1>
</div>
</body>